{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Conciliació automàtica de moviments a l'extracte bancari{% endblock %}

{% block content %}


<style>
    .ac { text-align: center; }
    .ar { text-align: right; }
    .match_header { background-color: #ccccff; text-align: center; }
    .observacions_ok { color:darkgreen; }
    .observacions_warning { color:darkorange; }
    .observacions_error { color:red; }
{#    tr.coincidencia { border: 1px solid black; }#}
    .ok { color: darkgreen; }
    .nok {  color: darkred; }
    .ok li {  font-size: 75%; }
    .nok li { font-size: 75%; }
</style>


<fieldset>
    <legend>
        {{ coincidencies|length }}
        coincidènci{{ coincidencies|length|pluralize:"a,es" }}
{#        clar{{ coincidencies|length|pluralize:"a,es" }}#}
    </legend>

    {% if coincidencies %}


        <table>

            {% for coincidencia in coincidencies %}
            {% with m=coincidencia.moviment_extracte f=coincidencia.factura observacions=coincidencia.observacions %}

        <tr><td>

            <table>
                <tr>
                    <th colspan="2" class="match_header">Moviment</th>
                    <th colspan="2" class="match_header">Factura</th>
                </tr>
                <tr>
                    <th>Compte</th><td>{{ m.compte }}</td>
                    <th>Cooperativa</th><td>{{ f.proveidor }}</td>

                </tr>
                <tr>
                    <th>Número de factura</th><td>{{ m.numero_factura }}</td>
                    <th>Número</th><td>{{ f.numero }}</td>
                </tr>
                <tr>
                    <th>Projecte</th><td>{{ m.compte_projecte }}</td>
                    <th>Projecte</th><td>{{ f.projecte }}</td>
                </tr>
                <tr>
                    <th>Concepte</th><td>{{ m.concepte }}</td>
                    <th>Client</th><td>{{ f.client }}</td>

                </tr>
                <tr>
                    <th>Import</th><td>{% currency_value m.quantitat %}</td>
                    <th>Import</th><td>{% currency_value f.import_total %}</td>
                </tr>
                <tr>
                    <th>Data</th><td>{{ m.data|date:'Y-m-d' }}</td>
                    <th>Data de venciment</th><td>{{ f.data_venciment|date:'Y-m-d' }}</td>
                </tr>
                <tr>
                    <th>Tipus</th><td>{{ m.tipus }}</td>
                    <th>Data d'emissió</th><td>{{ f.data|date:'Y-m-d' }}</td>
                </tr>
                <tr>
                    <th>Estat</th><td>{{ m.get_estat_display }}</td>
                    <th>Estat</th><td>{{ f.get_estat_display }}</td>
                </tr>
                <tr>
                    <th>Comentaris</th><td>{{ m.comentaris }}</td>
                    <th>Forma de pagament</th><td>{{ f.get_forma_de_pagament_display }}</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table>
                            <tr>
                                <td rowspan="2" style="vertical-align: top">Observacions:
                                    <ul>
                                        {% for o in observacions %}<li class="observacions_{{ o.0 }}">{{ o.1 }}</li>{% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <div id="forms_{{ m.id }}">
                                        <form onsubmit="bgSubmit(event)" method="post" action="{% url "facturacio:executar_conciliacio_automatica_factura" %}">
                                        {% csrf_token %}
                                        {% form_field form.comentaris %}
                                            <textarea style="display:none" name="conciliacio_automatica_observacions">{{ coincidencia.observacions_compactes }}</textarea>
                                            <input type="hidden" name="moviment_extracte_id" value="{{ m.id }}">
                                            <input type="hidden" name="factura_id" value="{{ f.id }}">
                                            <button style="background-color:darkgreen"><i class="fa fa-fw fa-check-square"></i> conciliar moviment i factura</button>
                                        </form>
                                        <form onsubmit="bgSubmit(event)" method="post" action="{% url "facturacio:descartar_moviment_extracte_bancari" %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="moviment_extracte_id" value="{{ m.id }}">
                                            <button style="background-color:darkred"><i class="fa fa-fw fa-exclamation-circle"></i> descartar moviment</button>
                                        </form>
                                    </div>
                                    <div id="resultat_{{ m.id }}" style="display:none;"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td></tr>

            {% endwith %}
            {% endfor %}

         </table>

        {% else %}

            No s'ha trobat cap coincidència clara.

        {% endif %}

</fieldset>


<script>

var request = false; // we will try to avoid parallel submits

function bgSubmit(event) {

    event.preventDefault();

    var $form = $(event.target);
    var formData = new FormData();

    $form.find(':input').each(function() {
        var name = $(this).attr('name');
        var value = $(this).val();
        formData.append(name, value);
    });

    http_post($form.attr('action'), formData)
}

function http_post(url, formData) {

    if (request) {
        request.abort();
    }

    request = new XMLHttpRequest();

    request.open("POST", url, true);
{# TODO review actual request headers and figure out if these are already present or if they can help in any way #}
{#    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");#}
{#    request.setRequestHeader("Content-length", params.length);#}
{#    request.setRequestHeader("Connection", "close");#}

    request.onreadystatechange = function () { // will be called when the state changes.
        if (request.readyState == 4 && request.status == 200) {
            resposta_rebuda(request.responseText);
            request = false;
        }
    };

    request.send(formData);
}

function resposta_rebuda(responseText) {
    var resultat = JSON.parse(responseText);
    var moviment_extracte_id = resultat['moviment_extracte_id'];
    var $forms = $('#forms_' + moviment_extracte_id);
    var $display = $('#resultat_' + moviment_extracte_id);
    $forms.hide();
    $display.append(makeUL(resultat['report']));
    $display.addClass(resultat['result']);
    $display.show();
}

function makeUL(array) {
    // http://stackoverflow.com/questions/11128700/create-a-ul-and-fill-it-based-on-a-passed-array
    var list = document.createElement('ul');
    for(var i = 0; i < array.length; i++) {
        var item = document.createElement('li');
        item.appendChild(document.createTextNode(array[i]));
        list.appendChild(item);
    }
    return list;
}

</script>


{%  endblock %}
