{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Conciliació manual de la factura {{ numero_factura }}{% endblock %}

{% block content %}

<style>
    .ac { text-align: center; }
    .ar { text-align: right; }
</style>


<fieldset>
    <legend>Moviments a l'extracte bancari que mencionen la factura {{ numero_factura }}</legend>

    {% if moviments_extracte.count %}

        <legend>{{ moviments_extracte.count }} moviment{{ moviments_extracte.count|pluralize }}</legend>

        <table>
            <thead>
            <tr>
                <th class="ac">Compte</th>
                <th class="ac">Tipus</th>
                <th class="ac">Data</th>
                <th>Concepte</th>
                <th class="ac">Import</th>
                <th class="ac">Projecte</th>
                <th class="ac">Número factura</th>
                <th class="ac">Estat</th>
            </tr>
            </thead>
            <tbody>
            {% for m in moviments_extracte %}
            <tr>
                <td class="ac">{{ m.compte }}</td>
                <td class="ac">{{ m.tipus }}</td>
                <td class="ac">{{ m.data|date:'Y-m-d' }}</td>
                <td>{{ m.concepte }}</td>
                <td class="ar">{% currency_value m.quantitat %}</td>
                <td class="ac">{{ m.compte_projecte }}</td>
                {% if m.numero_factura %}
                    <td class="ac">{{ m.numero_factura }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td class="ac">{{ m.get_estat_display }}</td>
            </tr>
            {% endfor %}
            </tbody>
         </table>

    {% else %}

        <em style="color:red">No hi ha cap moviment a l'extracte que compleixi amb aquest criteri!</em>

    {% endif %}

</fieldset>


<fieldset>
    <legend>Dades de la factura {{ numero_factura }}</legend>

    {% if factura %}

        <table>
            <tr><th>Numero</th><td>{{ factura.numero }}</td></tr>
            <tr><th>Cooperativa</th><td>{{ factura.proveidor }}</td></tr>
            <tr><th>Projecte</th><td>{{ factura.projecte }}</td></tr>
            <tr><th>Data</th><td>{{ factura.data|date:'Y-m-d' }}</td></tr>
            <tr><th>Venciment</th><td>{{ factura.data_venciment|date:'Y-m-d' }}</td></tr>
            <tr><th>Import</th><td>{% currency_value factura.import_total %}</td></tr>
            <tr><th>Estat</th><td>{{ factura.get_estat_display }}</td></tr>
         </table>

    {% else %}

        <em style="color:red">No hi ha cap factura amb aquest número!</em>

    {% endif %}

</fieldset>


{%  endblock %}
