{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Conciliació automàtica de moviments a l'extracte bancari{% endblock %}

{% block content %}


<style>
    .ac { text-align: center; }
    .ar { text-align: right; }
    .match_header { background-color: #ccccff; text-align: center; }
    .observacions_ok { color:darkgreen; }
    .observacions_warning { color:darkorange; }
    .observacions_error { color:red; }
{#    tr.coincidencia { border: 1px solid black; }#}
    .ok { color: darkgreen; }
    .nok {  color: darkred; }
    .ok li {  font-size: 75%; }
    .nok li { font-size: 75%; }

    .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
        white-space: nowrap;
    }
    .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
        white-space: nowrap;
        color: red;
    }
</style>


<fieldset>
    <legend>
        {{ coincidencies|length }} coincidènci{{ coincidencies|length|pluralize:"a,es" }} de
        moviment{{ coincidencies|length|pluralize }} simple{{ coincidencies|length|pluralize }}
    </legend>

    {% if coincidencies %}

        <form onsubmit="enviar(event)" method="post" action="{% url "facturacio:executar_conciliacio_moviments_simples" %}">
        {% csrf_token %}

        <table>
            <tr>
                <th class="text-center"><input type="checkbox" id="checkbox_canviar_tots" onchange="canviar_tots(event)"></th>
                <th class="text-center">Compte</th>
                <th class="text-center">Tipus</th>
                <th class="text-center">Data</th>
                <th>Concepte</th>
                <th>Projecte</th>
                <th class="text-right">Import</th>
                {# <th>Balanç actual</th> #}
                {# <th>Balanç final</th> #}
            </tr>

            {% for coincidencia in coincidencies %}
            {% with m=coincidencia.moviment_extracte %}

                <tr>
                    <td class="text-center"><input type="checkbox" class="moviment_simple" value="{{ m.id }}" onchange="canviar({{ m.id }})"></td>
                    <td class="text-center">{{ m.compte }}</td>
                    <td class="text-center">{{ m.tipus }}</td>
                    <td class="text-center">{{ m.data|date:'Y-m-d' }}</td>
                    <td title="{{ m.comentaris }}">{{ m.concepte }}</td>
                    <td>{{ coincidencia.projecte }}</td>
                    <td class="text-right">{% currency_value m.quantitat highlight_negative=True %}</td>
                    {# amago el balanços pq pot confondre si hi ha més d'un moviment del mateix projecte #}
                    {# caldria agrupar i ajax-play per que tingui sentit una cosa així #}
                    {# <td>{% currency_value coincidencia.balanc_actual highlight_negative=True %}</td> #}
                    {# <td>{% currency_value coincidencia.balanc_final highlight_negative=True %}</td> #}
                </tr>

            {% endwith %}
            {% endfor %}

         </table>
        <div class="text-center">
            <button style="background-color:darkgreen"><i class="fa fa-fw fa-check-square"></i> conciliar moviments marcats</button>
            <input type="hidden" id="moviments_a_conciliar" name="moviments_a_conciliar">
        </div>
        </form>

        {% else %}

            No s'ha trobat cap coincidència clara.

        {% endif %}

</fieldset>


<script>

function canviar_tots(event) {

    var estat = $(event.target)[0].checked;
    $(".moviment_simple").prop('checked', estat);

}

function canviar() {

    var num_checked = $("input[type=checkbox]:checked.moviment_simple").length;
    if(num_checked == 0) {
        $("#checkbox_canviar_tots").prop("checked", false);
    } else {
        var total = $("input[type=checkbox].moviment_simple").length;
        if(num_checked == total) {
            $("#checkbox_canviar_tots").prop("checked", true);
        }
    }

}

function enviar(event) {

    var result=[];

    $("input[type=checkbox]:checked.moviment_simple").each(function() {
        result.push($(this).val())
    });

    if(result.length) {
        $("#moviments_a_conciliar").val(result.join(','));
    } else {
        event.preventDefault();
    }

}

</script>


{%  endblock %}
