{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Conciliació manual de la factura {{ numero_factura }}{% endblock %}

{% block content %}

<style>
    .ac { text-align: center; }
    .ar { text-align: right; }
</style>


<fieldset>
    <legend>Dades del projecte {{ compte_projecte }}</legend>

    {% if projecte %}

        <table>
        <tr><th>Nom</th><td>{{ projecte.nom }}</td></tr>
        <tr><th>Email</th><td>{{ projecte.email }}</td></tr>
        <tr><th>Telèfon</th><td>{{ projecte.telefon }}</td></tr>
        <tr><th>Compte a l'IntegralCES</th><td>{{ projecte.compte_ces_assignat }}</td></tr>
        {% with projecte.membres_de_referencia.all as membres_de_referencia %}
            {% for m in membres_de_referencia %}
                <tr>
                    {% if forloop.first %}<th colspan="{{ membres_de_referencia.count }}">
                        Membre{{ membres_de_referencia.count|pluralize }} de referència</th>
                    {% endif %}
                    <td>{{ m }}</td>
                </tr>
            {% endfor %}
        {% endwith %}
        <tr><th>Cooperativa</th><td>{{ projecte.cooperativa_assignada }}</td></tr>
        </table>

    {% else %}

        <em style="color:red">No hi ha cap projecte amb aquest compte assignat.</em>

    {% endif %}

</fieldset>


<fieldset>
    <legend>Moviments a l'extracte bancari que mencionen el projecte {{ compte_projecte}}</legend>

    {% if moviments_extracte.count %}

        <legend>{{ moviments_extracte.count }} moviment{{ moviments_extracte.count|pluralize }}</legend>

        <table>
            <thead>
            <tr>
                <th>Compte</th>
                <th>Tipus</th>
                <th>Data</th>
                <th>Concepte</th>
                <th>Import</th>
                <th>Projecte</th>
                <th>Número factura</th>
                <th>Estat</th>
            </tr>
            </thead>
            <tbody>
            {% for m in moviments_extracte %}
            <tr>
                <td>{{ m.compte }}</td>
                <td>{{ m.tipus }}</td>
                <td>{{ m.data|date:'Y-m-d' }}</td>
                <td>{{ m.concepte }}</td>
                <td style="text-align:right">{% currency_value m.quantitat %}</td>
                <td>{{ m.compte_projecte }}</td>
                {% if m.numero_factura %}
                    <td>{{ m.numero_factura }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ m.get_estat_display }}</td>
            </tr>
            {% endfor %}
            </tbody>
         </table>

    {% else %}

        <em style="color:red">No hi ha cap moviment a l'extracte que compleixi amb aquest criteri.</em>

    {% endif %}

</fieldset>


<fieldset>

    <legend>Factures emeses pel projecte {{ compte_projecte }}</legend>

    {% if factures %}

        <legend>{{ factures.count }} factur{{ factures.count|pluralize:"a,es" }}</legend>
        <table>
            <tr>
                <th>Numero</th>
                <th>Cooperativa</th>
                <th>Data</th>
                <th>Venciment</th>
                <th>Import</th>
                <th>Estat</th>
            </tr>
            {% for factura in factures %}
                <tr>
                    <td>{{ factura.numero }}</td>
                    <td>{{ factura.proveidor }}</td>
                    <td>{{ factura.data|date:'Y-m-d' }}</td>
                    <td>{{ factura.data_venciment|date:'Y-m-d' }}</td>
                    <td>{% currency_value factura.import_total %}</td>
                    <td>{{ factura.get_estat_display }}</td>
                </tr>
            {% endfor %}

                <td>{{ m.concepte }}</td>
                <td style="text-align:right">
                <td>{{ m.compte_projecte }}</td>
                {% if m.numero_factura %}
                    <td><a href="" target="cnf={{ m.numero_factura }}">{{ m.numero_factura }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ m.get_estat_display }}</td>
            </tr>
            </tbody>
         </table>

    {% else %}

        <em style="color:red">No hi ha cap factura amb aquest criteri!</em>

    {% endif %}

</fieldset>


{%  endblock %}
