{% extends "layout.html" %}
{% load gci_tags %}

{% block content %}
    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
        .mini-button {
            background-color:#94b302;
            color: white;
            padding: 3px;
            border-radius:3px;
            font-weight: normal;
            font-size: smaller;
        }
    </style>

    <div class="row">
        <div class="medium-12 columns">
            <div class="groups-container" data-masonry>
                {% if user.is_authenticated %}

                    <section class="group">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-balance-scale"></i> Balanç</h1>

                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "facturacio:moviments" %}" class="button"><i class="fa fa-fw fa-list"></i> Consultar moviments</a>
                                </li>
                            </ul>
{#                            <ul class="radius button-group even-2">#}
{#                                <li>#}
{#                                    <a href="{% url "facturacio:crear_factura_emesa" %}" class="button"><i class="fa fa-fw fa-money"></i> Sol·licitar reintegrament</a>#}
{#                                </li>#}
{#                            </ul>#}

                            {% if estat_trimestre_a_tancar == estat_obert %}
                                {% if en_periode_de_tancament or a_prop_del_periode_de_tancament or passat_periode_de_tancament %}
                                    <table><tr><td>
                                        {% if en_periode_de_tancament %}
                                            <p class="text-center" style="color:darkred">Resten {{ dies_per_tancar }} díes per tancar el trimestre</p>
                                        {% elif a_prop_del_periode_de_tancament %}
                                            <p class="text-center" style="color:green">Resten {{ dies_per_periode_tancament }} díes pel periode de tancament</p>
                                        {% elif passat_periode_de_tancament %}
                                            <p class="text-center" style="color:darkred">No vas fer el tancament a temps.<br/>Gestió Econòmica ha de revisar la teva facturació.<br/>El balanç real del teu projecte dependrà d'aquesta revisió.</p>
                                        {% endif %}
                                    </td></tr></table>
                                {% endif %}
                            {% endif %}

                            <table>
                                <tr>
                                    <th>Balanç últim trimestre tancat{% if ultim_trimestre_tancat %} ({{ ultim_trimestre_tancat }}){% endif %}</th>
                                    <td class="text-right">
                                        {% if balanc_ultim_trimestre_tancat == None %}
                                            <em>N/A</em>
                                        {% else %}
                                            {% currency_value balanc_ultim_trimestre_tancat highlight_negative=True %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if en_periode_de_tancament %}
                                <tr>
                                    <th>
                                        Balanç trimestre a tancar ({{ trimestre_a_tancar }})
                                        {% if estat_trimestre_a_tancar == estat_obert %}
                                            <a class="mini-button" href="{% url "facturacio:resum_liquidacio_trimestre" %}">tancar</a>
                                        {% else %}
                                            <i style="color:darkgreen;" class="fa fa-check fa-fw">&nbsp;{{ estat_trimestre_a_tancar }}</i>
                                        {% endif %}
                                    </th>
                                    <td class="text-right">{% currency_value balanc_trimestre_a_tancar highlight_negative=True %}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>Balanç actual</th>
                                    <td class="text-right">
                                        <a href="{% url "facturacio:moviments" %}">{% currency_value balanc_actual highlight_negative=True %}</a>
                                    </td>
                                </tr>
                            </table>

                            <small>Valors negatius (vermell) són al vostre favor, podeu demanar un reintegrament.</small>

                        </div>
                    </section>

                    <section class="group">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-folder"></i> Activitat per any i trimestre</h1>

                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "facturacio:crear_factura_emesa" %}" class="button"><i class="fa fa-fw fa-plus"></i> Emetre una factura</a>
                                </li>
                            </ul>
                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "facturacio:crear_factura_rebuda" %}" class="button"><i class="fa fa-fw fa-plus"></i> Enregistrar factura rebuda</a>
                                </li>
                            </ul>

                            <table>
                            <thead>
                                <th class="text-center">Any</th>
                                <th class="text-center">T1</th>
                                <th class="text-center">T2</th>
                                <th class="text-center">T3</th>
                                <th class="text-center">T4</th>
                                <th class="text-center">Total</th>
                            </thead>
                            <tbody>
                                {% for y, resum in activitat.items %}
                                <tr>
                                    <td class="text-center">{{ y }}</td>
                                    {% for t, c in resum.trimestres.items %}
                                        <td class="text-center">
                                            {% if c.emeses or c.rebudes %}
                                                <a
                                                    href="{% url "facturacio:resum_facturacio_projecte" id_projecte=projecte.id %}?periode={{ y }}T{{ t }}"
                                                    title="{{ c.emeses }} emes{{ c.emeses|pluralize:"a,es" }}&#10;{{ c.rebudes }} rebud{{ c.rebudes|pluralize:"a,es" }}"
                                                        >{{ c.emeses }}&nbsp;+&nbsp;{{ c.rebudes }}</a>
                                            {% else %}
                                                &nbsp;
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td class="text-center">
                                        {% with resum.total as c %}
                                        <a
                                            href="{% url "facturacio:resum_facturacio_projecte" id_projecte=projecte.id %}?periode={{ y }}"
                                            title="{{ c.emeses }} emes{{ c.emeses|pluralize:"a,es" }}&#10;{{ c.rebudes }} rebud{{ c.rebudes|pluralize:"a,es" }}"
                                                >{{ c.emeses }}&nbsp;+&nbsp;{{ c.rebudes }}</a>
                                        {% endwith %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </section>
		    <section class="group">
		      <div class="content">
			<h1>La teva cooperativa</h1>
			<h4>{{ projecte.cooperativa_assignada.nom_fiscal }}</h4>
			<p><strong>Compte bancari: </strong>{{ projecte.cooperativa_assignada.compte_cobrament_factures }}</p>
		      </div>
		    </section>
		    <section class="group">
		      <div class="content">
			<h1>Les teves empreses</h1>
			<ul class="button-group even-2 radius">
			  <li><a class="button" href="{% url 'facturacio:llistat_empreses_pao' kind='client' %}">Clients</a></li>
			  <li><a class="button" href="{% url 'facturacio:llistat_empreses_pao' kind='proveidor' %}">Proveidors</a></li>
			</ul>
		      </div>
		    </section>
		    <section class="group">
		      <div class="content">
			<h1>Estimació aportacions {{ trimestre_a_tancar.nom }}</h1>
			<table>
			  <thead>
			    <tr>
			      <th>Aportació Trimestral</th>
			      <th>Aportació IVA</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>{{ import_quota_trimestral }}</td>
			      <td>{{ import_aportacio_iva }}</td>
			    </tr>
			  </tbody>
			</table>
			<h2><strong>Comptes on abonar les aportacions:</strong></h2>
			{% if projecte.cooperativa_assignada.nom_fiscal == "Interprofessionals, SCCL" %}
			<h4>Caixa d'Arquitectes-Arquia</h4>
			<p><strong>IBAN: </strong>ES02 3183 1700 6700 0128 0130</p>
			<p><strong>SWIFT: </strong>CASDESBBXXX</p>
			{% elif projecte.cooperativa_assignada.nom_fiscal == "Xarxa Integral de Professionals i Usuàries, SCCL" %}
			<h4>Caixa d'Arquitectes-Arquia</h4>
			<p><strong>IBAN: </strong>ES64 3183 0800 8700 0127 8026</p>
			<p><strong>SWIFT: </strong>CASDESBBXXX</p>
			<h4>Triodos Bank</h4>
			<p><strong>IBAN: </strong>ES47 1491 0001 2910 0917 5421</p>
			{% endif %}
		      </div>
		    </section>
		    {% endif %}

                {% if FLAG_FAQ %}
                    <section class="group blue">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-question-circle"></i> FAQs</h1>
                            <input type="text" placeholder="Buscar…">
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
