{% extends "simple.html" %}
{% load gci_tags %}

{#{% block titol_a_capcalera %}#}
{#{% endblock %}#}

{% block content %}

{# this should be above, inside titol_a_capcalera #}
<h1>Edició de la factura rebuda {{ factura.numero }}</h1>
{# end titol_a_capcalera #}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Introduïu <b>el desglossament</b> de l'IVA.</li>
            <li>Poseu un zero a la base imposable per eliminar la línia.</li>
            <li>Si us calen més línies, feu «desar» i en tindreu de noves.</li>
        </ul>
    </div>
{% endblock %}

<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <table>
    <tr><td>

        <table>
        <thead>
            <tr>
                <th colspan=2 style="display: none;">&nbsp;</th>
                <th>Tipus IVA (%)</th>
                <th>Base imposable (€)</th>
                <th>Import IVA (€)</th>
            </tr>
        </thead>
        <tbody>

            {% for form in formset %}
            <tr>
                <td style="display: none;">{% form_field form.quantitat hide_label=True hide_help=True %}</td>
                <td style="display: none;">{% form_field  form.concepte hide_label=True hide_help=True %}</td>
                <td>{% form_field  form.tipus_iva hide_label=True hide_help=True %}</td>
                <td>{% form_field  form.preu_unitari hide_label=True hide_help=True %}</td>
                <td><input type="text" id="id_{{ form.prefix }}-import_iva" style="text-align:right;" onchange="linia_modificada(event.target)"></td>

                <td style="display: none;">{{ form.id }}{{ form.DELETE }}</td>
            </tr>
            {% endfor %}

        </tbody>
        </table>

    </td><td style="vertical-align: top">

        {% form_field form.tipus_irpf %}

        <br/>

        <table>
            <caption>Resum factura</caption>
            <tr><th>Base imposable</th><td class="text-right" id="resum_base"></td></tr>
            <tr><th>Retenció IRPF</th><td class="text-right"  id="resum_irpf"></td></tr>
            <tr><th>IVA</th><td class="text-right"  id="resum_iva"></td></tr>
            <tr><th>Total factura</th><td class="text-right"  id="resum_total"></td></tr>
        </table>


    </td></tr>
    </table>

    <button class="radius button" type="submit" name="anem_a" value="aqui">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="seguent">Següent</button>
</form>

<script src="/static/js/eines-moneda.js"></script>

<script>

var resum_base = document.getElementById('resum_base');
var resum_irpf = document.getElementById('resum_irpf');
var resum_iva = document.getElementById('resum_iva');
var resum_total = document.getElementById('resum_total');

var form_prefix = '{{ formset.0.quantitat.id_for_label }}'.split('-')[0];

var e_irpf = document.getElementById('id_tipus_irpf');

actualitzar_totals();

function actualitzar_totals() {

    var i = 0;
    var base = .0;
    var iva = .0;

    while(true) {
        var e_base = document.getElementById(form_prefix + '-' + i + '-preu_unitari');
        var e_iva = document.getElementById(form_prefix + '-' + i + '-import_iva');

        if(!e_base) { break; }

        if(e_base.value != '') {
            actualitzar_total_linia(e_base);
            base += parseFloat(e_base.value);
            iva += parseFloat(e_iva.value);
        }

        i++;
    }
    if(e_irpf.value.endsWith('%')) {
        e_irpf.value = e_irpf.value.substring(0, e_irpf.value.length-1).trim();
    }
    var tipus_irpf = e_irpf.value == "" ? 0.0 : parseFloat(e_irpf.value);
    e_irpf.value = arrodonir_a_2_decimals(tipus_irpf);
    var irpf = base * tipus_irpf / 100.0;
    if(irpf == 0) { e_irpf.value = ''; }
    var total = base + iva - irpf;

    resum_base.innerHTML  = arrodonir_a_2_decimals(base) + "&nbsp;€";
    resum_irpf.innerHTML  = arrodonir_a_2_decimals(irpf) + "&nbsp;€";
    resum_iva.innerHTML   = arrodonir_a_2_decimals(iva) + "&nbsp;€";
    resum_total.innerHTML = arrodonir_a_2_decimals(total) + "&nbsp;€";
}

function actualitzar_total_linia(element) {

    var n = element.id.split('-')[1];
    var prefix = form_prefix + '-' + n + '-';

    var f_quantitat    = document.getElementById(prefix + 'quantitat');
    var f_concepte     = document.getElementById(prefix + 'concepte');
    var f_tipus_iva    = document.getElementById(prefix + 'tipus_iva');
    var f_preu_unitari = document.getElementById(prefix + 'preu_unitari');
    var f_import_iva   = document.getElementById(prefix + 'import_iva');
    var f_delete       = document.getElementById(prefix + 'DELETE');

    f_quantitat.value = '1';
    f_concepte.value = 'conceptes al ' + f_tipus_iva.value + '% d\'IVA';
    f_tipus_iva.value = arrodonir_a_2_decimals(f_tipus_iva.value);
    f_preu_unitari.value = arrodonir_a_2_decimals(f_preu_unitari.value);
    f_import_iva.value = arrodonir_a_2_decimals(f_quantitat.value * f_preu_unitari.value * f_tipus_iva.value / 100.00);
    f_delete.checked = (f_preu_unitari.value == 0);

    // if(f_tipus_iva.value == '0.00') { f_tipus_iva.value = ''; f_import_iva.value = ''; }
    if(f_preu_unitari.value == '0.00') { f_preu_unitari.value = ''; f_import_iva.value = ''; f_tipus_iva.value = '';}

}

function linia_modificada(element) {

    actualitzar_total_linia(element);
    actualitzar_totals();

}

</script>

{% endblock %}
