{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}


<h1>{{ title }}</h1>

<div class="panel">
  <p>{{ descripcio }}</p>
</div>


<div class="row">
  <div class="medium-8 large-8 columns medium-centered large-centered">
    <form method="POST">
      {% csrf_token %}
      {% form_field form.trimestre %}
      <button class="button radius" name="export" type="submit">Exportar</button>
    </form>
  </div>
</div>

{% endblock content %}
