{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Taula de quotes trimestrals{% endblock %}

{% block content %}

    <h1>Aportació trimestral</h1>

    <fieldset>

        <legend>Càlcul de l'aportació trimestral</legend>

            <p>Quan tens factures de venda, l'aportació trimestral és el més gran d'aquests dos càlculs:
                <ul>
                    <li>El 15% de la diferència entre les bases imposables rebudes i emeses</li>
                    <li>El valor que correspón a la base imposable emesa segons la taula en vigor</li>
                </ul>
            </p>

            <p>Si no tés factures de venda, l'aportació trimestral és de 75.00 EUR</p>

    </fieldset>

    {% for taula in taules %}

    <fieldset>

        <legend>
            {% if taula.temps == 'futur' %}Aquesta taula entrarà en vigor a partir de{% endif %}
            {% if taula.temps == 'present' %}Aquesta taula està en vigor des de{% endif %}
            {% if taula.temps == 'passat' %} Aquesta taula ja està obsoleta però va entrar en vigor el{% endif %}

            {{ taula.data_vigor|format_data }} (inclòs):
        </legend>

        <table>
        <thead>
        <tr>
            <th class="text-right">A partir d'aquesta base imposable emesa al trimestre...</th>
            <th class="text-right">...correspon aquesta aportació trimestral</th>
        </tr>
        </thead>
        <tbody>
        {% for fila in taula.taula %}
            <tr>
                <td class="text-right">{% currency_value  fila.base_imposable_minima %}</td>
                <td class="text-right">{% currency_value  fila.import_quota_trimestral %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    </fieldset>

    {% endfor %}

{% endblock %}
