{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}


<h1>{{ title }}</h1>

<div class="panel">
  <p>{{ descripcio }}</p>
</div>


<div class="row">
  <div class="medium-12 columns">
    <form method="GET">
      <div class="row">
	<div class="medium-4 columns">
	  {% form_field form.trimestre %}
	</div>
	<div class="medium-4 columns">
	</div>
	<div class="medium-4 columns">
	  <button class="button radius" type="submit">Generar</button>
	</div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <table>
      <thead>
	<tr>
	  <th>COOP</th>
	  <th>Nom i Cognoms</th>
	  <th>Raó Social</th>
	  <th>Aportació Trimestral</th>
	  <th>Aportació IVA</th>
	</tr>
      </thead>
      <tbody>
	{% for aportacio in aportacions %}
	<tr>
	  <td>{{ aportacio.coop }}</td>
	  <td>{{ aportacio.nom_i_cognoms }}</td>
	  <td>{{ aportacio.rao_social }}</td>
	  <td>{{ aportacio.aportacio_cic }}</td>
	  <td>{{ aportacio.aportacio_iva }}</td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="5">No hi han aportacions a considerar en aquest trimestre.</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
