{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="medium-10 columns medium-centered">
    <h1> {{ title }} </h1>
    {% if not tots %}
    <p> Aquest es un llistat dels 20 més recents moviments, per veure'ls tots fes click <a href="{% url 'facturacio:llistat_moviments_descartats_tots' %}" class="radius button info small">aquí</a></p>
    {% else %}
    <p> Aquest es un llistat de tots els moviments ordenats per antigüetat, per veure els més recents fes click <a href="{% url 'facturacio:llistat_moviments_descartats' %}" class="radius button info small">aquí</a></p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="medium-10 columns medium-centered">
    <table>
      <thead>
	<tr>
	  <th>Data</tH>
	  <th>Compte</th>
	  <th>Tipus</th>
	  <th>Concepte</th>
	  <th>Quantitat</th>
	  <th>Compte Projecte</th>
	  <th>Numero factura</th>
	  <th>Comentaris</th>
	</tr>
      </thead>
      <tbody>
	{% for moviment in queryset %}
	<tr>
	  <td>{{ moviment.data }}</td>
	  <td>{{ moviment.compte }}</td>
	  <td>{{ moviment.tipus }}</td>
	  <td>{{ moviment.concepte }}</td>
	  <td>{{ moviment.quantitat }}</td>
	  <td>{{ moviment.compte_projecte }}</td>
	  <td>{{ moviment.numero_facutra }}</td>
	  <td>{{ moviment.comentaris }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

