{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}

    <style>
        .esborrall td {
            font-style: italic;
        }

        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

    <h1>Facturació al {{ periode }} del projecte «{{ projecte.nom }}»</h1>

    <h3>Factures emeses</h3>

    {% if factures_emeses %}
        <table>
            <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Client</th>
                <th class="text-right">Base</th>
                <th class="text-right">IVA</th>
                <th class="text-right">RE</th>
                <th class="text-right">Total</th>
		<th class="text-right">Accions</th>
            </tr>
            </thead>
            <tbody>

                {% for f in factures_emeses %}

                    <tr class="{% if not f.numero %}esborrall{% endif %}">
                        <td>
                            {% if f.numero %}
                                <a href="{% url "facturacio:veure_factura_emesa" id_factura=f.id %}">{{ f.numero }}</a>
                            {% else %}
                                <em><a href="{% url "facturacio:veure_factura_emesa" id_factura=f.id %}">esborrall</a></em>
                            {% endif %}
                        </td>
                        <td>{{ f.data|format_data_curta }}</td>
                        <td>{{ f.client }}</td>
                            <td class="text-right">{% currency_value f.base_total highlight_negative=True %}</td>
                            <td class="text-right">{% currency_value f.iva_total highlight_negative=True %}</td>
                            <td class="text-right">{% currency_value f.req_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.import_total highlight_negative=True %}</td>
			<td class="text-right">{% if f.numero %}<a class="radius primary small" href="{% url 'facturacio:rectificar_factura_emesa' id_factura=f.id %}">Rectificar</a>{% else %}---{% endif %}</td>
                    </tr>

                {% endfor %}

                <tr>
                    <th colspan="3" class="text-right">Totals:</th>
                    <td class="text-right">{% currency_value resum_emeses.base_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_emeses.iva_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_emeses.req_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_emeses.import_total__sum highlight_negative=True %}</td>
                </tr>

            </tbody>
        </table>


    {% else %}

        <ul><li>No s'ha emès cap factura en aquest periode.</li></ul>

    {% endif %}


    <h3><i class="fa fa-fw fa-check" style="color:green"></i> Factures rebudes acceptades</h3>

    {% if factures_rebudes_acceptades %}
        <table>
            <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Proveïdor</th>
                <th>Base</th>
                <th>IVA</th>
                <th>IRPF</th>
                <th>Total</th>
		<th>Accions</th>
            </tr>
            </thead>
            <tbody>

                {% for f in factures_rebudes_acceptades %}

                    <tr>
                        <td><a href="{% url "facturacio:veure_factura_rebuda" id_factura=f.id %}">{{ f.numero }}</a></td>
                        <td>{{ f.data|format_data_curta }}</td>
                        <td>{{ f.proveidor }}</td>
                        <td class="text-right">{% currency_value f.base_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.iva_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.irpf_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.import_total highlight_negative=True %}</td>
			<td class="text-right">{% if f.numero %}<a class="radius primary small" href="{% url 'facturacio:rectificar_factura_rebuda' id_factura=f.id %}">Rectificar</a>{% else %}---{% endif %}</td>
                    </tr>

                {% endfor %}

                <tr>
                    <th colspan="3" class="text-right">Total:</th>
                    <td class="text-right">{% currency_value resum_rebudes_acceptades.base_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes_acceptades.iva_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes_acceptades.irpf_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes_acceptades.import_total__sum highlight_negative=True %}</td>
                </tr>

            </tbody>
        </table>

    {% else %}

        <ul><li>No hi ha cap factura rebuda que s'hagi acceptat en aquest periode.</li></ul>

    {% endif %}


    <h3><i class="fa fa-fw fa-clock-o" style="color:darkorange"></i> Factures rebudes pendents de revisar</h3>

    {% if factures_rebudes_pendents %}
        <table>
            <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Proveïdor</th>
                <th>Base</th>
                <th>IVA</th>
                <th>IRPF</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>

                {% for f in factures_rebudes_pendents %}

                    <tr>
                        <td><a href="{% url "facturacio:veure_factura_rebuda" id_factura=f.id %}">{{ f.numero }}</a></td>
                        <td>{{ f.data|format_data_curta }}</td>
                        <td>{{ f.proveidor }}</td>
                        <td class="text-right">{% currency_value f.base_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.iva_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.irpf_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.import_total highlight_negative=True %}</td>
                    </tr>

                {% endfor %}

                <tr>
                    <th colspan="3" class="text-right">Total:</th>
                    <td class="text-right">{% currency_value resum_rebudes_pendents.base_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes_pendents.iva_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes_pendents.irpf_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes_pendents.import_total__sum highlight_negative=True %}</td>
                </tr>

            </tbody>
        </table>

    {% else %}

        <ul><li>No hi ha cap factura rebuda pendent de revisió en aquest periode.</li></ul>

    {% endif %}


    <h3><i class="fa fa-fw fa-times" style="color:darkred"></i> Factures rebudes rebutjades</h3>

    {% if factures_rebudes_rebutjades %}
        <table>
            <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Proveïdor</th>
                <th>Base</th>
                <th>IVA</th>
                <th>IRPF</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>

                {% for f in factures_rebudes_rebutjades %}

                    <tr>
                        <td>
                            <i class="fa fa-fw fa-question-circle" style="color:darkred"
                               title="Motiu: {% if f.vist_i_plau_observacions %}{{ f.vist_i_plau_observacions }}{% else %}(no s'ha especificat){% endif %}"
                               onclick='alert("Motiu: {% if f.vist_i_plau_observacions %}{{ f.vist_i_plau_observacions }}{% else %}(no s&#39;ha especificat){% endif %}")'></i>
                            <a href="{% url "facturacio:veure_factura_rebuda" id_factura=f.id %}">{{ f.numero }}</a>
                        </td>
                        <td>{{ f.data|format_data_curta }}</td>
                        <td>{{ f.proveidor }}</td>
                        <td class="text-right">{% currency_value f.base_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.iva_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.irpf_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.import_total highlight_negative=True %}</td>
                    </tr>

                {% endfor %}


            </tbody>
        </table>


    {% else %}

        <ul><li>No hi ha cap factura rebuda que s'hagi rebutjat en aquest periode.</li></ul>

    {% endif %}


{% endblock %}

