{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}

    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

    <script>
    function go(event) {
        var message = "Confirmeu que les dades són correctes i completes? Si us plau teniu en compte que les " +
                "errades són molt costoses en temps i generen multes i/o inspeccions per la vostra Cooperativa. " +
                "Aquesta acció no es pot desfer! Premeu OK per confirmar que voleu tancar, o Cancel per tornar enrera.";
        if(!confirm(message)) {
            event.preventDefault();
            return false;
        }
        return true;
    }
    </script>

    <h1>Resum de l'activitat al trimestre {{ trimestre }}</h1>

    <fieldset>
        <legend>Resum de la facturació</legend>

        <table>
        <tr>
            <th>&nbsp;</th><th class="text-right">Base imposable</th><th>IVA</th>{#<th>IRPF/REQ</th><th>Total</th>#}
        </tr>
        <tr>
            <th>{{ emeses_count }} factur{{ emeses_count|pluralize:'a,es' }} emes{{ emeses_count|pluralize:'a,es' }}</th>
            <td class="text-right">{% currency_value emeses_base highlight_negative=True %}</td>
	    <td class="text-right">{% currency_value emeses_iva highlight_negative=True %}</td>
        </tr>
        <tr>
            <th>{{ rebudes_count }} factur{{ rebudes_count|pluralize:'a,es' }} rebud{{ rebudes_count|pluralize:'a,es' }}</th>
            <td class="text-right">{% currency_value rebudes_base highlight_negative=True %}</td>
	    <td class="text-right">{% currency_value rebudes_iva highlight_negative=True %}</td>
        </tr>
        <tr>
          <th><a href="{% url "facturacio:resum_facturacio_projecte" id_projecte=projecte.id %}?periode={{ trimestre.nom }}">Total</a></th>
	  <td class="text-right">{% currency_value base highlight_negative=True %}</td>
	  <td class="text-right">{% currency_value iva highlight_negative=True %}</td>
        </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Balanços</legend>

        <table>
        <tr>
            <th>Balanç últim trimestre tancat{% if ultim_trimestre_tancat %} ({{ ultim_trimestre_tancat }}){% endif %}</th>
            <td class="text-right">
                {% if balanc_ultim_trimestre == None %}
                    <em>N/A</em>
                {% else %}
                    {% currency_value balanc_ultim_trimestre_tancat highlight_negative=True %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th><a href="{% url "facturacio:moviments" %}">Balanç actual</a></th>
            <td class="text-right">{% currency_value balanc_actual highlight_negative=True %}</td>
        </tr>
            <th><a href="{% url "facturacio:llistat_quotes_trimestrals" %}">Aportació trimestral</a></th>
            <td class="text-right">{% currency_value import_quota_trimestral highlight_negative=True %}</td>
        </tr>
        </tr>
            <th>Balanç final</th>
            <td class="text-right">{% currency_value balanc_final highlight_negative=True %}</td>
        </tr>

        </table>
    </fieldset>

    <fieldset class="text-center">
        <legend>Estat del trimestre</legend>
        <form method="post" action="{% url "facturacio:executar_autoliquidacio_trimestre" %}">{% csrf_token %}
            <button style="background-color:darkgreen" onclick="go(event)">
                <i class="fa fa-fw fa-check-square"></i> Tancar el trimestre
            </button>
        </form>
    </fieldset>

{% endblock %}
