{% extends "blank.html" %}
{% load gci_tags %}

{% block content %}

<br />

<div class="row">
  <div class="small-12 medium-12 columns">
    <table>
      <tr>
	<th>Número Factura</th><td>{{ f.numero }}</td>
	<th>Data</th><td>{{ f.data|format_data_factura }}</td>
	{% if f.data_venciment %}<th>Data venciment</th><td>{{ f.data_venciment|format_data_factura }}</td>{% endif %}
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-6 medium-6 columns">
    <fieldset>
      <legend>Proveidor</legend>
    <h1>{{ f.proveidor.nom_fiscal }}</h1>
    <p>{{ f.proveidor.adreca_fiscal.adreca }}</p>
    <p>{{ f.proveidor.adreca_fiscal.codi_postal }} {{ f.proveidor.adreca_fiscal.poblacio }}</p>
    <p><strong>NIF: </strong>{{ f.proveidor.nif }}</p>
    </fieldset>
  </div>
  <div class="small-6 medium-6 columns">
    <fieldset>
      <legend>Client</legend>
      <h1>{{ f.client.nom_fiscal }}</h1>
      <p>{{ f.client.adreca_fiscal.adreca }}</p>
      <p>{{ f.client.adreca_fiscal.codi_postal }} {{ f.client.adreca_fiscal.poblacio }}</p>
      <p><strong>NIF: </strong>{{ f.client.nif }}</p>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <table>
      <thead>
	<tr>
          <th>Quantitat</th>
          <th>Concepte</th>
          <th>Preu unitari</th>
          <th>Base imposable</th>
          <th>IVA</th>
          {% if resum_req %}<th>REQ</th>{% endif %}
	</tr>
      </thead>
      <tbody>
        {% for l in f.liniafactura_set.all %}
        <tr>
          <td>{{ l.quantitat }}</td>
          <td>{{ l.concepte }}</td>
          <td>{% currency_value l.preu_unitari %}</td>
          <td>{% currency_value l.base_total %}</td>
          <td>{{ l.tipus_iva }}&nbsp;%</td>
          {% if resum_req %}<td>{{ l.tipus_req }}&nbsp;%</td>{% endif %}
        </tr>
        {% endfor %}
        <tr>
          <th colspan="3">subtotal:</th>
          <td>{% currency_value f.base_total %}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="small-6 medium-6 columns">
    <table>
      <thead>
        <tr><th colspan="3">Desglossament de l'IVA</th></tr>
        <tr>
          <th>Tipus</th>
          <th>Base imposable</th>
          <th>Import</th>
        </tr>
      </thead>
      <tbody>
        {% for r in resum_iva %}
        <tr>
          <td>{{ r.tipus_iva }}&nbsp;%</td>
          <td>{% currency_value r.base_total %}</td>
          <td>{% currency_value r.iva_total %}</td>
        </tr>
        {% endfor %}
        <tr>
          <th>Subtotals</th>
          <td>{% currency_value f.base_total %}</td>
          <td>{% currency_value f.iva_total %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% if resum_req %}
  <div class="small-6 medium-6 columns">
    <table>
      <thead>
        <tr><th colspan="3">Desglossament del recàrrec d'equivalència</th></tr>
        <tr>
          <th>Tipus</th>
          <th>Base imposable</th>
          <th>Import</th>
        </tr>
      </thead>
      <tbody>
        {% for r in resum_req %}
        <tr>
          <td>{{ r.tipus_req }}&nbsp;%</td>
          <td>{% currency_value r.base_total %}</td>
          <td>{% currency_value r.req_total %}</td>
        </tr>
        {% endfor %}
        <tr>
          <th>Subtotals</th>
          <td>{% currency_value f.base_total %}</td>
          <td>{% currency_value f.req_total %}</td>
        </tr>
      </tbody>
    </table>  
  </div>
  {% else %}
  <div class="medium-6 columns">
    <table>
      <thead>
        <tr><th colspan="2">Totals</th></tr>
      </thead>
      <tbody>
        <tr><th>Base imposable</th><td class="text-right">{% currency_value f.base_total %}</td></tr>
        <tr><th>IVA</th><td class="text-right">{% currency_value f.iva_total %}</td></tr>
        {% if resum_req %}
        <tr><th>Recàrrec d'equivalència</th><td class="text-right">{% currency_value f.req_total %}</td></tr>
        {% endif %}
        <tr><th>Total</th><td class="text-right">{% currency_value f.import_total %}</td></tr>
      </tbody>
    </table>
  </div>
  {% endif %}
</div>

{% if resum_req %}
<div class="row">
  <div class="medium-6 columns">
    {% if f.observacions %}
    <fieldset>
      <legend>Observacions</legend>
      <p>{{ f.observacions }}</p>
    </fieldset>
    {% endif %}
  </div>
  <div class="medium-6 columns">
    <table>
      <thead>
        <tr><th colspan="2">Totals</th></tr>
      </thead>
      <tbody>
        <tr><th>Base imposable</th><td class="text-right">{% currency_value f.base_total %}</td></tr>
        <tr><th>IVA</th><td class="text-right">{% currency_value f.iva_total %}</td></tr>
        {% if resum_req %}
        <tr><th>Recàrrec d'equivalència</th><td class="text-right">{% currency_value f.req_total %}</td></tr>
        {% endif %}
        <tr><th>Total</th><td class="text-right">{% currency_value f.import_total %}</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% else %}

{% if f.observacions %}
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>Observacions</legend>
      <p>{{ f.observacions }}</p>
    </fieldset>
  </div>
</div>
{% endif %}
{% endif %}

{% if f.proveidor.cooperativa.compte_cobrament_factures %}

<div class="row">
  <div class="medium-12 columns">
      <fieldset>
  <p>Si us plau, feu la transferència al compte <b>{{ f.proveidor.cooperativa.compte_cobrament_factures }}</b>;
  indiqueu el número de factura <b>{{ f.numero }}</b> al concepte.</p>
  </fieldset>
  </div>
</div>

{% endif %}

{% endblock content %}
    
