{% extends "blank.html" %}
{% load gci_tags %}

{% block content %}
    <script>
        function crop_long_username() {
            {# fucking crap to hide "Django's username length limit" under the rug #}
            var uf = document.getElementById('{{ form.username.auto_id }}');
            uf.value = uf.value.substring(0,30);
            return true;
        }
    </script>
    <div class="row">
        <div class="medium-6 large-4 columns medium-centered large-centered">
            <div class="panel login">
                <form method="post" onsubmit="crop_long_username()">
                    {# <h1 class="logo">cic</h1> #}
                    {% csrf_token %}
                    {% non_field_errors form %}
                    {% form_field form.username %}
                    {% form_field form.password %}
                    <button type="submit" class="expand radius button"><i class="fa fa-fw fa-sign-in"></i> Inicia sessió</button>
                    <br />
                    <br />
                    <p class="small"><a href="{% url 'password_reset' %}">Restableix contrasenya</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
