{% extends "layout.html" %}
{% load gci_tags %}

{% block content %}
    <div class="row">
        <div class="medium-12 columns content">
            <h1>Restableix contrasenya</h1>
            <form method="post">
                {% csrf_token %}
                {% non_field_errors form %}

                {% form_field form.old_password %}

                <div class="row">
                    <div class="medium-6 columns">
                        {% form_field form.new_password1 %}
                    </div>
                    <div class="medium-6 columns">
                        {% form_field form.new_password2 %}
                    </div>
                </div>

                <button type="submit" class="radius button">Restableix contrasenya</button>
        </div>
    </div>
{% endblock %}
