.field {
    margin-bottom: $base-padding;

    input {
        margin-bottom: 0;
    }

    textarea {
        height: 100px;
    }

    label {
        color: inherit;

        span {
            display: block;
            line-height: 1.4;
            font-size: $small-font-size;
            font-weight: bold;
            margin-bottom: 0.3rem;
        }

        b {
            color: $alert-color;
        }
    }

    label.error input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    small.error {
        font-size: $smallest-font-size;
        border-bottom-left-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }

    ul + .error, label + .error {
        margin-top: $quarter-padding;
        border-radius: $global-radius;
    }

    .selectize-control + .error {
        margin-top: -26px;
    }

    > ul {
        margin-left: 0;

        li {
            list-style-type: none;
        }

        input {
            margin-right: $quarter-padding;
        }
    }

    p.help {
        font-size: $smallest-font-size;
        //color: $color-subheader;
        line-height: 1.3;
        margin-top: $quarter-padding;
    }
}

.field.checkbox {
    label {
        font-size: 0.875rem;
        margin-left: 0;

        span {
            font-weight: normal;
        }
    }

    input {
        margin-right: $quarter-padding;
    }

    & + .checkbox {
        margin-top: -$base-padding;
    }
}

.field.date {
    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .postfix {
        margin-left: -1px;
        border-top-right-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
    }
}

.field.time {
    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .postfix {
        border-top-right-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
    }
}

.field.datetime {
    input {
        width: 50%;
        display: inline-block;
    }

    input:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    input:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.datepicker {
    td span.active, th span.active, td.active.day {
        background-color: $primary-color;
    }
}

.button, .button-group {
    margin-right: $half-padding;
}

.button-group {
    margin-right: -$half-padding;
    margin-bottom: $half-padding;

    .button {
        margin-right: 0;
    }
}

fieldset {
    margin-top: 0;
    border-radius: $global-radius;
    padding-bottom: 0;

    legend {
        //text-transform: uppercase;
        color: $oil;
        letter-spacing: .1em;
        font-weight: normal;
    }
}

// Foundation fix
input[type="checkbox"] + label, input[type="radio"] + label {
    margin: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
    -webkit-border-radius: $input-border-radius;
    border-radius: $input-border-radius;
}
