.panel {
    border-radius: $global-radius;
    border: none;

    &.login {
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
        background-color: $white;
        margin: ($base-padding * 2) 0 $base-padding;

        // TODO: put an image
        .logo {
            text-align: center;
        }

        .button {
            margin-bottom: 0;
            //margin-bottom: $half-padding;
        }

        .small {
            text-align: center;
        }

        // TODO: format changing django default templates, remove this hack
        .errorlist {
            li {
                color: $white;
            }

            margin-bottom: 0;
        }
    }
}

.panel.errors {
    background-color: $alert-color;
    border-radius: $input-border-radius;
    margin-bottom: $base-padding;
    padding: $quarter-padding;

    p, ul, li, code {
        color: #fff;
        font-size: $small-font-size;
        font-style: italic;
    }

    code {
        background-color: rgba(255, 255, 255, 0.3);
        border: 0;
    }
}
