{% extends "alta_socies/autoocupat/template.html" %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Introduïu les dades del projecte que apareixen al full d'assistència de la sessió d'acollida.</li>
            <li>Esteu certificant que aquestes persones van atendre (i van aprofitar?) la sessió en repressentació del projecte.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {% include "dynamic_includes/cerca_edicio_creacio_persona.html" %}

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_NOU }}">Desar i començar-ne un altre</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
