{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Enregistreu els detalls que hi ha a la documentació que aporten els membres de referència.</li>
            <li>Si us plau, reviseu les observacions! Els membres de referència les tenen a la llista de tasques que va sortir de la sessió d'avaluació.</li>
            {# TODO propera versió quan veiem com van els casos reals i tinguem una mica mes de temps per fer filigranes #}
            {# <li>Agrupeu en un mateix contracte les activitats que aquest concedeix.</li> #}
            {# <li>Entreu els detalls a la fila de contractes.</li> #}
            {# <li>No pot quedar cap concessió sense associar a un contracte.</li> #}
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {{ formset.management_form }}

    {% for form in formset %}
        <fieldset>
            {{ form.id }}

            <legend>
                {% if form.instance.adreca %}
                    {{ form.instance.adreca.designacio }}
                {% else %}
                    <em>(sense adreça)</em>
                {% endif %}
                &mdash;
                {% if form.instance.activitat %}
                    {{ form.instance.activitat.nom }}
                {% else %}
                    <em>(l'adreça, independentment de les activitats)</em>
                {% endif %}
            </legend>

            <div class="row">
                <div class="medium-6 columns">
                    {% form_field form.companyia_asseguradora %}
                </div>
                <div class="medium-6 columns">
                    {% form_field form.numero_polissa %}
                </div>
            </div>
            <div class="row">
                <div class="medium-4 columns">
                    {% form_field form.data_inici_polissa %}
                </div>
                <div class="medium-4 columns">
                    {% form_field form.data_final_polissa %}
                </div>
                <div class="medium-4 columns">
                    {% form_field form.import_polissa %}
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <div class="field">
                        <label><span>Comentaris avaluació</span></label>
                        <p class="small">{{ form.instance.comentaris_avaluacio|linebreaksbr }}</p>
                    </div>
                </div>
                <div class="medium-6 columns">
                    {% form_field form.comentaris_alta %}
                </div>
            </div>
        </fieldset>
    {% endfor %}

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
