{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Abans de finalitzar aquest pas, els membres de referència han d'haver pagat les quotes.</li>
            <li>Només es pot pagar en hores la quota d'alta si s'havia acordat d'aquesta manera a la sesió d'avaluació.</li>
            <li>Si paguen en moneda social, heu d'anar a l'<a href="https://integralces.net" target="_blank">IntegralCES</a> i:
                <ol>
                    <li>comprovar la identitat del compte que indiquen</li>
                    <li>si tot encaixa, cobrar el total del compte que indiquen, en una única transacció.</li>
                    {# <li>enregistreu el número de compte i el codi de la transacció.</li> #}
                </ol>
            </li>
            <li>Sou responsables de la recaptació fins que la lliureu a Gestió Econòmica.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {% non_field_errors form %}

    <div class="row">
        <div class="medium-6 columns">
            <fieldset>
                <legend>Quotes</legend>

                <div class="row">
                    <div class="medium-6 columns">
                        {% form_field form.quota_alta_forma_pagament %}
                        {% form_field form.alta_confirmacio %}
                    </div>
                    <div class="medium-6 columns">
                        {% form_field form.quota_avancada_forma_pagament %}
                        {% form_field form.avancada_confirmacio %}
                    </div>
                </div>
            </fieldset>
            <fieldset id="seccio_compte_ms" style="display:none">
                <legend>Pagament amb moneda social</legend>

                {% form_field form.compte_CES_que_paga_les_quotes %}
{#                {% form_field form.pagament_quotes_numero_transaccio %}#}
            </fieldset>
        </div>
        <div class="medium-6 columns">
            <fieldset>
                <legend>Comentaris</legend>
                {% form_field form.comentaris_pagament_quotes hide_label=True %}
            </fieldset>
        </div>
    </div>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}

{% block javascript %}
    <script>
        function canvi_forma_pagament() {
            var al = $('[name=quota_alta_forma_pagament]:checked').val();
            var av = $('[name=quota_avancada_forma_pagament]:checked').val();

            $('#seccio_compte_ms').toggle([al, av].indexOf('{{ form.instance.FORMA_PAGAMENT_ECO }}') != -1);
        }

        // Events
        $('form [type=radio]').change(canvi_forma_pagament);

        // OnReady
        $(canvi_forma_pagament);
    </script>
{% endblock %}
