{% extends "simple.html" %}

{% block titol_a_capcalera %}Estadístiques sobre processos d'alta de projecte autoocupat{% endblock %}

{% block content %}

    <style>
    .llistat {
        border-collapse: collapse;
    }
    .llistat td,th {
        border: 1px solid black;
        padding: 3px;
    }
    .llistat th {
        background-color: #ddeedd;
    }
    </style>

<div class="group">

{#    <h1>Projectes <i>en curs</i>:</h1>#}

    <table class="llistat">
    <thead>
    <tr>
        <th class="xlabel" style="text-align:center">Pas</th>
        {% for item in recompte_per_pas %}
            <th class="xlabel" style="text-align:center">{{ item.pas }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="small-font" style="text-align:center">Recompte</th>
        {% for item in recompte_per_pas %}
            <td class="small-font" style="text-align:center">
                {% if item.recompte %}
                    <a href="{% url 'alta_socies:llistat_proces_alta_autoocupat' %}?per_estat={{ item.pas }}">{{ item.recompte }}</a>
                {% else %}
                    &mdash;
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    <tbody>
    </table>
</div>

<div class="group">
    <table class="llistat">
        <thead>
            <th class="xlabel" >Usuària</th>
            <th class="xlabel" >Email</th>
            <th class="xlabel" >Responsable?</th>
            <th class="xlabel" >Recompte</th>
        </thead>
        <tbody>
        {% for u in responsables_amb_recompte %}
            <tr>
                <td>{{ u.first_name }}{% if u.last_name %} {{ u.last_name }}{% endif %}</td>
                <td>{{ u.email }}</td>
                <td>
                    {% if u.es_responsable %}
                        <i style="color:green" class="fa fa-fw fa-check"></i>
                    {% else %}
                        <i style="color:red" class="fa fa-fw fa-close"></i>
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if u.recompte %}
                        <a href="{% url 'alta_socies:llistat_proces_alta_autoocupat' %}?per_responsable={{ u.id }}">{{ u.recompte }}</a>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{%  endblock %}