{% extends "simple.html" %}

{% block titol_a_capcalera %}Control de qualitat per noms i descripcions de projectes autoocupats{% endblock %}

{% block content %}
    <div class="group">
        <h2>Control de qualitat per noms i descripcions de projectes autoocupats</h2>

        {% if processos %}
            <table>
                <thead>
                    <th>Projecte</th>
                    <th class="hide">Responsable</th>
                    <th>Descripció</th>
                </thead>
                <tbody>
                    {% for p in processos %}
                        <tr>
                            <td>
                                <a href="{% url 'alta_socies:proces_alta_projecte_autoocupat' p.id 2 %}">{{ p.nom }}</a>
                            </td>
                            <td class="hide">
                                {{ p.responsable.first_name }} {{ p.responsable.last_name }}
                            </td>
                            <td>
                                {{ p.descripcio|linebreaksbr }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{%  endblock %}
