$base-padding: 20px;
$half-padding: $base-padding / 2;
$quarter-padding: $base-padding / 4;

$body-line-height: 1.5;

$small-font-size: 13px;
$smallest-font-size: 11px;

// Font Awesome Path
$fa-font-path: "../fonts";
