@charset "UTF-8";

// Base
@import "settings";

// Vendors
@import "foundation-settings";
@import "foundation-components";
@import "font-awesome";
@import "foundation-datepicker";

// GestioCI Core
@import "typography";
@import "layout";
@import "colors";

// Foundation components tweaks
@import "components/alert-box";
@import "components/forms";
@import "components/panels";
@import "components/tables";

// Custom components
@import "components/gallery";
@import "components/selectize-custom";
@import "components/steps";

// Media query por printing

@media print {
  @for $i from 1 through $total-columns {
      .medium-#{$i} {
            width: grid-calc($i, $total-columns);
	    }  
       }
}