// Pre-refactor CSS
// DELETE FILE WHEN MIGRATED

.page_header { }
.page_footer {
    font-size: 90%;
    font-style: italic;
}
a.logo {
    font-weight: bold;
    text-decoration: none;
}
label {
    font-weight: bold;
    font-size: 90%;
}
.label {
    text-align: left;
    font-size: 90%;
}
.radio-container ul {
    list-style-type: none;
    padding-left: 0px;
}
.small-font {
   font-size:75%;
}
.seccio { background-color: #ddeedd; padding: 5px; }

body {
    font-family: sans-serif;
    margin: 0px;
}
#principal-peu {
    background-color: #ddeedd;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
    border-top: 1px solid black;
    box-shadow: 0px 500px 0px 500px #ddeedd;
}
.principal-capcalera {
    background-color: #ddeedd;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid black;
}
#titol_a_capcalera, #titol_a_capcalera a {
    width: 80%;
    text-align: center;
    color: black;
}
#controls_sessio, #controls_sessio a {
    width: 10%;
    text-align: right;
    color: black;
    font-size: 90%;
}
.principal-capcalera a {
    text-decoration: none;
    color: black;
}
.principal-capcalera a:hover {
    text-decoration: underline;
    color: black;
}
#principal_contingut {
    margin: 0px 10px 10px 10px;

}

.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }
.vat { vertical-align:top; }
