{% extends "projectes/resum_projecte_autoocupat_base.html" %}
{% load gci_tags %}

{% block cooperativa %}


<form method="post">
{% csrf_token %}

<table>
  <tr><th>{{ form.cooperativa.label }}</th><td>{{ form.cooperativa }}</td></tr>
</table>

<button class="button radius" name="Desar" type="submit">Desar</button>

</form>
{% endblock %}
