{% extends "projectes/resum_projecte_autoocupat_base.html" %}
{% load gci_tags %}

{% block adreca %}


<form method="post">
{% csrf_token %}

<table>
  <tr><th>{{ form.provincia.label }}</th><td>{{ form.provincia }}</td></tr>
  <tr><th>{{ form.comarca.label }}</th><td>{{ form.comarca }}</td></tr>
  <tr><th>{{ form.poblacio.label }}</th><td>{{ form.poblacio }}</td></tr>
  <tr><th>{{ form.codi_postal.label }}</th><td>{{ form.codi_postal }}</td></tr>
  <tr><th>{{ form.adreca.label }}</th><td>{{ form.adreca }}</td></tr>
</table>

<button class="button radius" name="Desar" type="submit">Desar</button>

</form>
{% endblock %}
