{% extends "projectes/resum_projecte_autoocupat_base.html" %}
{% load gci_tags %}

{% block descripcio %}


<form method="post">
{% csrf_token %}

<table>
  <tr><th>{{ form.descripcio.label }}</th><td>{{ form.descripcio }}</td></tr>
</table>

<button class="button radius" name="Desar" type="submit">Desar</button>

</form>
{% endblock %}
