{% extends "simple.html" %}

{% block content %}

    <h1>{{ p.nom }}</h1>
    <div class="label"> {{ p.tipus }} </div>
    {% if p.es_paic %}<div class="label"> PAIC </div>{% endif %}
    {% if p.te_comerc_electronic %}<div class="label"> Comerç Electronic </div>{% endif %}
    {% if p.mercat_virtual %}<div class="label"> Mercat Virtual </div>{% endif %}
    {% if p.te_productes_ecologics %}<div class="label"> Productes Ecologics </div>{% endif %}
    {% if p.expositors %}<div class="label"> Expositors </div>{% endif %}
    {% if p.transversal %}<div class="label"> Ex-Transversal </div>{% endif %}


    <h2>Cooperativa assignada <a href="{% url 'projectes:editar_cooperativa_projecte' id_projecte=p.id %}" class="label small radius secondary">Editar</a></h2>
{% block cooperativa %}    
    <table>
      <tr><th>NIF</th><td>{{ p.cooperativa_assignada.nif }}</td></tr>
      <tr><th>Nom Fiscal</th><td>{{ p.cooperativa_assignada.nom_fiscal }}</td></tr>
    </table>
{% endblock cooperativa %}

    <h2>Contacte <a href="{% url 'projectes:editar_contacte_projecte' id_projecte=p.id %}" class="label small radius secondary">Editar</a></h2>
{% block contacte %}    
    <table>
        <tr><th>Compte iCES</th><td>{{ p.compte_ces_assignat }}</td></tr>
        <tr><th>Email</th><td>{{ p.email }}</td></tr>
        <tr><th>Telèfon</th><td>{{ p.telefon }}</td></tr>
        <tr><th>Web</th><td>{{ p.website }}</td></tr>
    </tr>
    </table>
{% endblock contacte %}

    <h2>Membre{{ p.membres_de_referencia.count|pluralize }} de referència</h2>
    <table>
    <tr>
        <th>Nom</th><th>Email</th><th>Telèfon</th><th>Compte</th>
    </tr>
    {% for m in p.membres_de_referencia.all %}
        <tr>
            <td>{{ m.nom_sencer_sense_email }}</td>
            <td>{{ m.email }}</td>
            <td>{{ m.telefon }}</td>
            <td>{{ m.compte_integralces }}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>Adreçes</h2>

    {% for adreca in p.adreces.all %}
    <a href="{% url 'projectes:editar_adreca_projecte' id_projecte=p.id id_adreca=adreca.id %}" class="label small radius secondary">Editar</a>
    {% block adreca %}
    <table>
      <tr><th>Provincia</th><td>{{ adreca.provincia }}</td></tr>
      <tr><th>Comarca</th><td>{{ adreca.comarca }}</td></tr>
      <tr><th>Població</th><td>{{ adreca.poblacio }}</td></tr>
      <tr><th>Codi Postal</th><td>{{ adreca.codi_postal }}</td></tr>
      <tr><th>Adreça</th><td>{{ adreca.adreca }}</td></tr>
    </table>
    {% endblock adreca %}
    {% endfor %}


    <h2>Descripció <a href="{% url 'projectes:editar_descripcio_projecte' id_projecte=p.id %}" class="label small radius secondary">Editar</a></h2>
{% block descripcio %}
    <div style="padding-left:20px; padding-right:20px; padding-bottom:20px;"><pre>{{ p.descripcio }}</pre></div>
{% endblock descripcio %}
{% endblock content %}
