{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
  <div class="medium-2 columns">
    <a href="{% url 'alta_socies:editar_socia_cooperativa' socia.id %}" class="button radius success">Editar</a>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Dades de la socia
      </legend>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>Nom: </strong><p>{{ socia.socia.nom }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Primer cognom: </strong><p>{{ socia.socia.cognom1 }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Segon cognom: </strong><p>{{ socia.socia.cognom2 }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Pseudònim: </strong><p>{{ socia.socia.pseudonim }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>Email: </strong><p>{{ socia.socia.email }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Telèfon: </strong><p>{{ socia.socia.telefon }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>DNI: </strong><p>{{ socia.socia.dni }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Compte iCES: </strong><p>{{ socia.socia.compte_integralces }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-3 medium-centered columns">
	  <strong>Compte iCES assignat: </strong><p>{{ socia.compte_ces_assignat }}</p>
	</div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock content %}

	  
      
