{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
  <div class="medium-2 columns">

  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Dades Generals
	<a href="{% url 'alta_socies:editar_dades_generals_projecte' projecte.id %}" class="label radius success">Editar</a>
      </legend>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>Nom: </strong><p>{{ projecte.nom }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Website: </strong><p>{{ projecte.website }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Email: </strong><p>{{ projecte.email }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Telefon: </strong><p>{{ projecte.telefon }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-2 columns">
	  <strong>Tipus: </strong><p>{{ projecte.get_tipus_projecte_display }}</p>
	</div>
	<div class="medium-10 columns">
	  <strong>Descripció: </strong><p>{{ projecte.descripcio }}</p>
	</div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
	Adreça
	<a href="{% url 'alta_socies:editar_dades_adreca_projecte' projecte.id %}" class="label radius success">Editar</a>
      </legend>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>País: </strong><p>{{ projecte.adreca.pais }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Província: </strong><p>{{ projecte.adreca.provincia }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Comarca: </strong><p>{{ projecte.adreca.comarca }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Població: </strong><p> {{ projecte.adreca.poblacio }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-9 columns">
	  <strong>Adreça: </strong><p>{{ projecte.adreca.adreca }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Codi Postal: </strong><p>{{ projecte.adreca.codi_postal }}</p>
	</div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
	Dades cooperatives
      </legend>
      <div class="row">
	<div class="medium-4 columns">
	  <strong>Compte CES assignat: </strong><p>{{ projecte.compte_ces_assignat }}</p>
	</div>
	<div class="medium-4 columns">
	  <strong>Validat per: </strong><p>{{ projecte.usuaria_que_valida.username }}</p>
	</div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
	Socies Afins
	<a href="{% url 'alta_socies:editar_socies_afins_projecte' projecte.id %}" class="label radius success">Afegir</a>
      </legend>
      <div class="row">
	<div class="columns">
	  <table>
	    <thead>
	      <tr>
		<th>Nom</th>
		<th>Alias</th>
		<th>1er Cognom</th>
		<th>2on Cognom</th>
		<th>Document</th>
		<th>Telefon</th>
		<th>Email</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for soci in projecte.sociaafi_set.all %}
	      <tr>
		<td>{{ soci.nom }}</td>
		<td>{{ soci.pseudonim }}</td>
		<td>{{ soci.cognom1 }}</td>
		<td>{{ soci.cognom2 }}</td>
		<td>{{ soci.dni }}</td>
		<td>{{ soci.telefon }}</td>
		<td>{{ soci.email }}</td>
	      </tr>
	      {% empty %}
	      <p> El projecte no te cap socia afí asociada. </p>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
    </fieldset>	
  </div>
</div>
{% endblock content %}

	  
      
