{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
    <p> Cuan validis, haurás donat per entredit que la socia ha pagat la quota d'alta i que les dades son valides </p>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Dades de la socia
      </legend>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>Nom: </strong><p>{{ socia.socia.nom }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Primer cognom: </strong><p>{{ socia.socia.cognom1 }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Segon cognom: </strong><p>{{ socia.socia.cognom2 }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Pseudonim: </strong><p>{{ socia.socia.pseudonim }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>Email: </strong><p>{{ socia.socia.email }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Telefon: </strong><p>{{ socia.socia.telefon }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Dni: </strong><p>{{ socia.socia.dni }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Compte iCES: </strong><p>{{ socia.socia.compte_integralces }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-3 medium-centered columns">
	  <strong>Forma de pagament: </strong><p>{{ socia.get_quota_alta_forma_pagament_display }}</p>
	</div>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Dades mancants
      </legend>
      <div class="row">
	<div class="medium-3 columns medium-centered">
	  <form method="post">
	    {% csrf_token %}
	    {% non_field_errors form %}
	    {% form_field form.compte_ces_assignat %}
	    <button type="submit" class="radius success">Validar</button>
	  </form>
	</div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock content %}

	  
      
