{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Dades generals del projecte
      </legend>
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	<div class="row">
	  <div class="medium-3 columns">
	    {% form_field form.nom %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.website %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.telefon %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.email %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns">
	    {% form_field form.descripcio %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.tipus_projecte %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-3 medium-centered columns">
	    <button type="submit" class="success radius">Desar</button>
	  </div>
	</div>
      </form>
    </fieldset>
  </div>
</div>
{% endblock content %}

	  
      
