{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Adreça del projecte
      </legend>
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	<div class="row">
	  <div class="medium-3 columns">
	    {% form_field form.pais %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.provincia %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.comarca %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.poblacio %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-9 columns">
	    {% form_field form.adreca %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.codi_postal %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-3 medium-centered columns">
	    <button type="submit" class="success radius">Desar</button>
	  </div>
	</div>
      </form>
    </fieldset>
  </div>
</div>
{% endblock content %}

	  
      
