<div class="medium-12 columns">
  <table>
    <thead>
      <tr>
	<th>
	  COOP
	</th>
	<th>
	  Nom del projecte
	</th>
	<th>
	  Comarca
	</th>
	<th>
	  Tipus
	</th>
	<th>
	  Detalls
	</th>
      </tr>
    </thead>
    <tbody>
      {% for projecte in projectes %}
      <tr>
	<td>{{ projecte.compte_ces_assignat }}</td>
	<td>{{ projecte.nom }} </td>
	<td>{{ projecte.adreca.comarca }} </td>
	<td>{{ projecte.tipus_projecte }} </td>
	<td>
	  <a href="{% url 'alta_socies:dades_projecte_collectiu' projecte.id %}" class="round label success"><i class="fa fa-fw fa-check-circle-o"></i></a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
