<div class="medium-12 columns">
  <table>
    <thead>
      <tr>
	<th>
	  Nom
	</th>
	<th>
	  Cognom
	</th>
	<th>
	  Document
	</th>
	<th>
	  Projecte
	</th>
      </tr>
    </thead>
    <tbody>
      {% for socia in socies %}
      <tr>
	<td>{{ socia.nom }}</td>
	<td>{{ socia.cognom1 }} {{ socia.cognom2 }}</td>
	<td>{{ socia.dni }}</td>
	<td>{{ socia.projecte.nom }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
