<div class="medium-12 columns">
  <table>
    <thead>
      <tr>
	<th>
	  COOP
	</th>
	<th>
	  Nom de la Sòcia
	</th>
	<th>
	  Detalls
	</th>
      </tr>
    </thead>
    <tbody>
      {% for socia in socies %}
      <tr>
	<td>{{ socia.compte_ces_assignat }}</td>
	<td>{{ socia.socia.nom_sencer }} </td>
	<td>
	  <a href="{% url 'alta_socies:dades_socia_cooperativa' socia.id %}" class="label radius"><i class="fa fa-fw fa-check-circle-o"></i></a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
