<div class="medium-12 columns">
  <table>
    <thead>
      <tr>
	<th>
	  COOP
	</th>
	<th>
	  Nom de la Sòcia
	</th>
      </tr>
    </thead>
    <tbody>
      {% for socia in socies %}
      <tr>
	<td>{{ socia.compte_ces_assignat }}</td>
	<td>{{ socia.socia.nom_sencer }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
