{% extends 'simple.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns large-centered medium-centered">
    <h1>{{ title }}</h1>
    <h3>{{ descripcio }}</h3>
  </div>
</div>
<div class="row">
  <div class="medium-10 columns medium-centered large-centered">
    <ul>
      <li><p><strong>En metàl·lic:</strong> Es pot realitzar el pagament a Aurea Social - Barcelona (C/ Sardenya, 263) o bé a Escudella Solidària - Girona (Psg/ Olot 68).</p></li>
      <li><p><strong>En moneda social:</strong> Per realitzar el pagament de la quota en moneda social, serà necessari que ens facis arribar el teu numero de compte amb saldo positiu, igual o superior a la quantitat a aportar, per què et puguem fer el càrrec.</p></li>
      <li><p><strong>Pagament amb hores de feina comunitària:</strong> Es pot pagar la quota aportant les teves hores al comú. Per a saber com fer-ho nomès cal que cliquis en aquest <a href="http://feina.cooperativa.cat/informacio/quota-dalta/">enllaç</a></p></li>
      <li><p><strong>Pagament a través de compte bancari:</strong>
	  <ul>
	    <li>Transferència bancària a compte de Triodos Bank: ES47 1491 0001 2910 0917 5421</li>
	    <li>Ingrés efectiu en una oficina de Cajamar (Coop. de crèdit): 3058 0523 05 2720018446</li>
	    <li>Transferència bancària a compte Caixa d'Arquitectes: ES64 3183 0800 8700 0127 8026</li>
	  </ul>
	</p>
      </li>
    </ul>
    <form method="post">
      {% csrf_token %}
      {% non_field_errors form %}
      <div class="row">
	<div class=" medium-4 columns">
	  {% form_field form.quota_alta %}
	</div>
	{{ form.te_compte_integral_ces }}
      </div>
      <div class="row">
	<div class="medium-6 columns">
	 {% form_field form.habilitats %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.contribucions %}
	</div>
      </div>
      <div class="row">
	<div class="medium-10 columns">
	  {% form_field form.detalls_habilitats %}
	</div>
      </div>
      <button type="submit" class="success radius">Validar</button>
    </form>
  </div>
</div>
{% endblock content %}
