{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns">
    <h1>{{ title }}</h1>
    <h3>{{ descripcio }}</h3>
  </div>
</div>
<br />
<div class="row">
  <div class="medium-12 large-12 columns">
    <form method="post">
      {% csrf_token %}
      {% non_field_errors form %}
      <fieldset>
	<div class="row">
	  <div class="medium-12 columns">
	    <h4>Modalitats de socia</h4>
	    <ul>
	      <li><p><strong>Projecte cooperatiu col·lectiu:</strong> Vols formar part i recolzar a la cooperativa, enxarxar-te, impulsar o vincular-te a un projecte i fer ús de la moneda social.</p></li>
	      <li><p><strong>Grup de consum:</strong> Es caracteritza per consumir únicament dins de la xarxa, tant en euros com en moneda social.</p></li>
	      <li><p><strong>Projecte de serveis:</strong> És aquella persona amb activitat econòmica ja legalitzada que participa de la Cooperativa Integral per a tenir intercanvis econòmics amb altres socis, però que no utilitza la Cooperativa per realitzar factures fora.</p></li>
	    </ul>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-12 columns">
	    {% form_field form.tipus_projecte %}
	  </div>
	</div>
      </fieldset>
      <fieldset>
	<legend>
	  Quota d'alta i cobertura legal
	</legend>
	<div class="row">
	  <div class="medium-6 columns">
	    <ul>
	      <li><p><strong>En metàl·lic:</strong> Es pot realitzar el pagament a Aurea Social - Barcelona (C/ Sardenya, 263) o bé a Escudella Solidària - Girona (Psg/ Olot 68).</p></li>
	      <li><p><strong>En moneda social:</strong> Per realitzar el pagament de la quota en moneda social, serà necessari que ens facis arribar el teu numero de compte amb saldo positiu, igual o superior a la quantitat a aportar, per què et puguem fer el càrrec.</p></li>
	      <li><p><strong>Pagament amb hores de feina comunitària:</strong> Es pot pagar la quota aportant les teves hores al comú. Per a saber com fer-ho nomès cal que cliquis en aquest <a href="http://feina.cooperativa.cat/informacio/quota-dalta/">enllaç</a></p></li>
	      <li><p><strong>Pagament a través de compte bancari:</strong>
		  <ul>
		    <li>Transferència bancària a compte de Triodos Bank: ES47 1491 0001 2910 0917 5421</li>
		    <li>Ingrés efectiu en una oficina de Cajamar (Coop. de crèdit): 3058 0523 05 2720018446</li>
		    <li>Transferència bancària a compte Caixa d'Arquitectes: ES64 3183 0800 8700 0127 8026</li>
		  </ul>
		</p>
	      </li>
	    </ul>
	    {% form_field form.formes_pagament_quota_alta %}
	  </div>
	</div>
      </fieldset>
      <fieldset>
	<button type="submit" class="success radius right">Segueix</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}
