{% extends 'simple.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns large-centered medium-centered">
    <h1>{{ title }}</h1>
    <h3>{{ descripcio }}</h3>
  </div>
</div>
<div class="row">
  <div class="medium-10 columns medium-centered large-centered">
    <form method="post">
      {% csrf_token %}
      {% non_field_errors form %}
	<div class="row">
	  <div class="medium-3 columns">
	    {% form_field form.pais %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.provincia %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.comarca %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.poblacio %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-4 columns">
	    {% form_field form.codi_postal %}
	  </div>
	  <div class="medium-8 columns">
	    {% form_field form.adreca %}
	  </div>
	</div>
      <button type="submit" class="radius success">Seguent</button>
    </form>
  </div>
</div>

{% endblock content %}
