{% extends 'simple.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns large-centered medium-centered">
    <h1>{{ title }}</h1>
    <h3>{{ descripcio }}</h3>
  </div>
</div>
<div class="row">
  <div class="medium-10 columns medium-centered large-centered">
    <form method="post">
      {% csrf_token %}
      {% non_field_errors form %}
      <div class="row">
	<div class="medium-3 columns">
	  {% form_field form.nom %}
	</div>
	<div class="medium-3 columns">
	  {% form_field form.cognom1 %}
	</div>
	<div class="medium-3 columns">
	  {% form_field form.cognom2 %}
	</div>
	<div class="medium-3 columns">
	  {% form_field form.pseudonim %}
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  {% form_field form.email %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.telefon %}
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  {% form_field form.tipus_document %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.document %}
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  {% form_field form.te_compte_integral_ces %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.compte_integral_ces %}
	</div>
      </div>
      <button type="submit" class="success radius">Validar</button>
    </form>
  </div>
</div>
<script>
  function toggleDiv(divId) {
  $("#"+divId).toggle(500);
  }
</script>
{% endblock content %}
