{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-12 large-12 columns">
    <div class="panel">
      <h1>{{ title }}</h1>
      <h3>{{ descripcio }}</h3>
      <br />
      <br />
      <form method="post">
	{% csrf_token %}
	{{ formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Nom</th>
	      <th>Cognom</th>
	      <th>Segon Cognom</th>
	      <th>Pseudonim</th>
	      <th>Email</th>
	      <th>Telefon</th>
	      <th>Tipus document</th>
	      <th>Document</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in formset %}
	    <tr>
	      <td>{{ forloop.counter0 }}</td>
	      <td>{% form_field form.nom %}</td>
	      <td>{% form_field form.cognom1 %}</td>
	      <td>{% form_field form.cognom2 %}</td>
	      <td>{% form_field form.pseudonim %}</td>
	      <td>{% form_field form.email %}</td>
	      <td>{% form_field form.telefon %}</td>
	      <td>{% form_field form.tipus_dni %}</td>
	      <td>{% form_field form.dni %}</td>
	      <td style="display:none;">{{ form.id }}{{ form.DELETE }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<button type="submit" class="expand radius button">Validar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
