{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns">
    <h1>{{ title }}</h1>
    <h3>{{ descripcio }}</h3>
  </div>
</div>
<br />
<div class="row">
  <div class="medium-12 large-12 columns">
    <form method="post">
      {% csrf_token %}
      {% non_field_errors form %}
      <fieldset>
	<legend>
	  El teu projecte
	</legend>
	<div class="row">
	  <div class="medium-6 columns">
	    {% form_field form.nom %}
	  </div>
	  <div class="medium-6 columns">
	    {% form_field form.website %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-6 columns">
	    {% form_field form.email %}
	  </div>
	  <div class="medium-6 columns">
	    {% form_field form.telefon %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-10 columns medium-centered">
	    {% form_field form.descripcio %}
	  </div>
	</div>
      </fieldset>
      <fieldset>
	<legend>
	  Ubicació de referencia del projecte
	</legend>
	<div class="row">
	  <div class="medium-4 columns">
	    {% form_field form.pais %}
	  </div>
	  <div class="medium-4 columns">
	    {% form_field form.provincia %}
	  </div>
	  <div class="medium-4 columns">
	    {% form_field form.comarca %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-4 columns">
	    {% form_field form.poblacio %}
	  </div>
	  <div class="medium-4 columns">
	    {% form_field form.codi_postal %}
	  </div>
	  <div class="medium-4 columns">
	    {% form_field form.adreca %}
	  </div>
	</div>
      </fieldset>
      <fieldset>
	<button type="submit" class="success radius right">Segueix</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}
