{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}
    <h1>{{ view.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% non_field_errors form %}
        <div class="row">
            <div class="medium-6 columns">
                {% form_field form.ubicacio %}
            </div>
            <div class="medium-6 columns">
                {% form_field form.responsable_alta %}
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                {% form_field form.data %}
            </div>
            <div class="medium-6 columns">
                {% form_field form.duracio %}
            </div>
        </div>
        <button class="radius button" type="submit">{{ view.action_label }}</button>
    </form>
{% endblock %}
