{%  extends "gci.html" %}

{% block main %}
<form name="generador_sessions" method="POST">{% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="generar sessions">

</form>

{%  if sessions_creades %}
    <hr>
    <h2>Sessions creades:</h2>
    <ul>
    {%  for item in sessions_creades %}
    <li>{{ item.responsable_alta }}
        <ul>
        {% for sessio in item.sessions %}
            <li>{{ sessio }}</li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
