{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <p>Filtrar per Codi Postal:</p>
    <input id="codi_postal" type="text">
  </div>
  <div class="medium-4 columns">
    <p>Filtrar per Comarca:</p>
    <input id="comarca" type="text">
  </div>
</div>
<div class="row">
  <div class="medium-6 columns medium-centered large-centered">
    <input id="filterSubmit" type="submit" value="Buscar" class="expand radius button success">
  </div>
</div>
<div class="row" id="filtrats">
</div>
{% endblock content %}
{% block javascript %}
<script>
  $(function(){
  $('#filterSubmit').click(function(){
  var comarca = $('#comarca').val();
  var codi_postal = $('#codi_postal').val();
  var url = '{% url "alta_socies:llistat_projecte_collectiu" %}?comarca=' + comarca + '&codi_postal=' + codi_postal;
  $('#filtrats').html( '&nbsp;' ).load(url);
  });
  });
  
</script>
{% endblock javascript %}

