{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <table>
      <thead>
	<tr>
	  <th>
	    Nom de la Sòcia
	  </th>
	  <th>
	    Detalls i validació
	  </th>
	</tr>
      </thead>
      <tbody>
	{% for socia in socies %}
	<tr>
	  <td>{{ socia.socia.nom_sencer }} </td>
	  <td>
	    <a href="{% url 'alta_socies:validar_socia_pendent' socia.id %}" class="round button small"><i class="fa fa-fw fa-check-circle-o"></i></a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

