{%  extends "gci.html" %}

{% block main %}

<style>

    .cal_title { text-align: center; }
    .dow_header { font-weight: bold; text-align:center; }

    .day_in_month { background-color: #eeeeee;
                    font-weight: bold;
                    min-height:3em;
                    border-radius: 4px;
                    text-align:right;
                    border-left: 1px solid black;
}

.day_not_in_month { background-color: #cccccc; border-radius: 4px; text-align: right; }
.day_content { min-height: 3em; text-align:center; }
.event { display: block; -moz-border-radius:5px; background-color: #88ccff; }

</style>

<h1 class="cal_title">{{ tipus }} — {{ month_name }} {{ year }}</h1>
<table border=1 id="cal_container" width="100%" cellspacing=0>
<tr>
    {% for dow in dow_names %}<td class="dow_header">{{ dow }}</td>{% endfor %}
</tr>
{% for week in weeks %}
<tr>
    {% for day in week %}

        <td width="14%" style="vertical-align: top; padding-right:2px;" class={% if day.date.month == month %}"day_in_month"{% else %}"day_not_in_month"{% endif %}>
            <span title="{{ day.date }}">{{ day.date.day }}</span><br>
            <div class="day_content">
                {% for event in day.events %}
                <span class="event" title="{{ event.notes }}">
                    <a href="{{ event.url }}">{{ event.data|date:"H:i" }}&nbsp;{{ event.responsable_alta }}</a>
                </span>
                {% endfor %}
            </div>
        </td>

    {% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
